# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Specific
local/
.vscode/
so_long
MLX42/build/cmake_install.cmake
MLX42/build/CMakeCache.txt
MLX42/build/Makefile
MLX42/build/mlx_frag_shader.c
MLX42/build/mlx_vert_shader.c
MLX42/build/CMakeFiles/cmake.check_cache
MLX42/build/CMakeFiles/CMakeConfigureLog.yaml
MLX42/build/CMakeFiles/CMakeDirectoryInformation.cmake
MLX42/build/CMakeFiles/CMakeRuleHashes.txt
MLX42/build/CMakeFiles/Makefile.cmake
MLX42/build/CMakeFiles/Makefile2
MLX42/build/CMakeFiles/progress.marks
MLX42/build/CMakeFiles/TargetDirectories.txt
MLX42/build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
MLX42/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
MLX42/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
MLX42/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
MLX42/build/CMakeFiles/3.28.3/CMakeSystem.cmake
MLX42/build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
MLX42/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
MLX42/build/CMakeFiles/mlx42.dir/build.make
MLX42/build/CMakeFiles/mlx42.dir/cmake_clean_target.cmake
MLX42/build/CMakeFiles/mlx42.dir/cmake_clean.cmake
MLX42/build/CMakeFiles/mlx42.dir/compiler_depend.make
MLX42/build/CMakeFiles/mlx42.dir/compiler_depend.ts
MLX42/build/CMakeFiles/mlx42.dir/depend.make
MLX42/build/CMakeFiles/mlx42.dir/DependInfo.cmake
MLX42/build/CMakeFiles/mlx42.dir/flags.make
MLX42/build/CMakeFiles/mlx42.dir/link.txt
MLX42/build/CMakeFiles/mlx42.dir/progress.make
